<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div id="roomName"></div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" id="messageInput">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="sendBtn">보내기</button>
        </div>
    </div>
    <ul class="list-group" id="messageList"></ul>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var id = localStorage.getItem('wschat.id');
    var sender = localStorage.getItem('wschat.sender');
    var roomNameDiv = document.getElementById('roomName');
    var messageInput = document.getElementById('messageInput');
    var sendBtn = document.getElementById('sendBtn');
    var messageList = document.getElementById('messageList');

    function findRoom() {
        axios.get('/chat/room/' + id).then(response => {
            roomNameDiv.textContent = response.data.name;
        });
    }

    function sendMessage() {
        ws.send("/app/chat/message", {}, JSON.stringify({
            messageType: 'TALK',
            roomId: id,
            senderId : 1,
            senderName: sender,
            message: messageInput.value
        }));
        messageInput.value = '';
    }

    function recvMessage(recv) {
        var li = document.createElement('li');
        li.textContent = (recv.messageType === 'ENTER' ? '[알림]' : recv.senderName) + ' - ' + recv.message;
        messageList.prepend(li);
    }

    function connect() {
        ws.connect({}, function (frame) {
            ws.subscribe("/topic/chat/room/" + id, function (message) {
                var recv = JSON.parse(message.body);
                recvMessage(recv);
            });
            ws.send("/app/chat/message", {}, JSON.stringify({
                messageType: 'ENTER',
                id: id,
                sender: sender
            }));
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    sendBtn.onclick = sendMessage;
    findRoom();
    connect();
</script>
</body>
</html>
