<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <th:block th:replace="fragments/common/header :: headerFragment"></th:block>
        <!-- <script src="js/subject/add.js"></script> -->
    </head>
    <body>
    <div class="wrapper">
        <th:block th:replace="fragments/common/topbar :: topbarFragment"></th:block>
        <th:block th:replace="fragments/common/sidebar1 :: sidebar1Fragment"></th:block>
        <div class="content-page">
            <th:block th:replace="fragments/content/subject/add_content :: addContentFragment"></th:block>
            <th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
        </div>

        <th:block th:replace="fragments/common/script :: scriptFragment"></th:block>
        <script type="text/javascript" src="/js/subject/add.js"></script>
    </div>
    </body>
</html>