<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <th:block th:replace="fragments/common/header :: headerFragment"></th:block>
        <!-- .js file -->
    </head>
    <body>
    <div class="wrapper">
        <th:block th:replace="fragments/common/topbar :: topbarFragment"></th:block>
        <th:block th:replace="fragments/common/sidebar1 :: sidebar1Fragment"></th:block>
        <div class="content-page">
            <th:block th:replace="fragments/content/subject/input_subject_code_content :: inputCodeContentFragment"></th:block>
            <th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
        </div>

        <th:block th:replace="fragments/common/script :: scriptFragment"></th:block>
    </div>
    </body>
    <script type="text/javascript">
        const btn_submit = document.getElementById("btn_submit");
        
        btn_submit.addEventListener("click", () => {
            var subjectCode = document.getElementById("subjectCode").value;
            console.log(subjectCode);
            $.ajax({
                type: "POST",
                url: "/subjects/input-code",
                data: {
                    "subjectCode": subjectCode,
                },
                success: function(data) {
                    alert("과목 가입이 완료되었습니다");
                    location.href = "/subjects";
                },
                error: function(error) {
                    console.log(subjectCode);
                    alert("등록 실패: " + JSON.stringify(error.responseJSON));
                },
            });
        });

    </script>
</html>