<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
    <form th:action="@{/members/signup}" th:object="${signUpDto}" method="post">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div>
            <label for="username">ID</label>
            <input id="username" name="username" th:field="*{username}" type="text" class="form-control">
        </div>
        <div>
            <label for="password1">비밀번호</label>
            <input id="password1" name="password1" type="password" class="form-control">
        </div>
        <div>
            <label for="password2">비밀번호 확인</label>
            <input id="password2" name="password2" type="password" class="form-control">
        </div>
        <div>
            <label for="name">이름</label>
            <input id="name" name="memberName" th:field="*{memberName}" type="text" class="form-control">
        </div>
        <div>
            <label for="email">이메일</label>
            <input id="email" name="email" th:field="*{email}" type="email" class="form-control">
        </div>
        <div>
            <label for="tel">전화번호</label>
            <input id="tel" name="phone" th:field="*{tel}" type="tel" class="form-control">
        </div>
        <div>
            <label for="role">타입</label>
            <div id="role">
            <input type='radio' name='role' value='ROLE_ADMIN' th:field="*{role}"/>관리자
            <input type='radio' name='role' value='ROLE_TEACHER' th:field="*{role}"/>선생님
            <input type='radio' name='role' value='ROLE_STUDENT' th:field="*{role}"/>학생
            </div>
        </div>
        <button type="submit">회원가입</button>
    </form>
    </body>
</html>