<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="questionDetail">
  <!-- Start Content-->
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Subject(getById)</a></li>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Question Post</a></li>
              <li class="breadcrumb-item active">Question Post Detail</li>
            </ol>
          </div>
          <h4 class="page-title">Question Post Details</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <!-- project card -->
        <div class="card d-block">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h3 class="" th:text="${questionPost.questionPostTitle}"></h3>
              <div class="dropdown" th:if="${questionPost.memberId != null and #authentication.getPrincipal().getId() == questionPost.memberId}">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ri-more-fill"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <!-- item-->
                  <a th:href="@{/subjects/{subjectId}/questions/edit-form/{questionPostId}(subjectId = ${subjectId}, questionPostId = ${questionPost.questionPostId})}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Edit</a>
                  <!-- item-->
                  <a th:href="@{/subjects/{subjectId}/questions/delete/{questionPostId}(subjectId = ${subjectId}, questionPostId = ${questionPost.questionPostId})}" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Delete</a>
                </div>
              </div>
              <!-- project title-->
            </div>
            <div>
              <h5 th:text="${questionPost.memberName}"></h5>
            </div>
            <hr>
            <div th:id="contentPreview" th:utext="${questionPost.questionPostContent}"></div>


          </div> <!-- end card-body-->

        </div> <!-- end card-->

        <div class="card">
          <div class="card-body">
            <input type="hidden" id="subjectId" th:value="${subjectId}">
            <input type="hidden" id="questionPostId" th:value="${questionPost.questionPostId}">
            <h5 class="card-title mb-3">Comments</h5>

            <label for="questionComment" class="form-label">Comment</label>
            <input type="text" id="questionComment" class="form-control">
            <div class="text-end">
              <div class="btn-group mt-1 mb-2 ms-2">
                <button id="submitBtn" type="button" class="btn btn-primary btn-sm">Submit</button>
              </div>
            </div>

            <div th:each="c : ${questionPost.comment}" class="d-flex flex-column mt-2">
              <input type="hidden" id="questionPostCommentId" th:value="${c.questionCommentId}">
              <div class="d-flex justify-content-between align-items-start w-100 overflow-hidden">
                <h5 class="mt-9">
                  <span th:text="${c.memberName}"></span>
                  <span th:text="' : ' + ${c.questionCommentContent}"></span>
                </h5>
                <div id="deleteBtn" class="text-end" style="cursor: pointer;" th:if="${c.memberId != null and #authentication.getPrincipal().getId() == c.memberId}">
                  <i class="ri-close-fill"></i>
                </div>
              </div>
            </div>
          </div> <!-- end card-body-->
        </div>
        <!-- end card-->
      </div> <!-- end col -->
    </div>
    <!-- end row -->

  </div> <!-- container -->
</th:block>
</html>