<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true">
<th:block th:fragment="changePasswordFragment">
        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">
                            <!-- Logo -->
                            <div class="card-header py-4 text-center bg-primary">
                                <a href="index.html">
                                    <span><img src="/assets/images/logo.png" alt="logo" height="22"></span>
                                </a>
                            </div>

                            <div class="card-body p-4">
                                <form id="form" name="f">
                                    <input type="hidden" id="memberId" th:value="${member.id}">
                                    <div class="mb-3" id="msgDiv" style="display: none;">
                                        <div class="alert alert-danger" role="alert" id="msg"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="previous_password" class="form-label">Previous Password</label>
                                        <input class="form-control" type="password" id="previous_password" name="previousPassword" placeholder="Enter your previous password" onsubmit="previousPasswordCheck()" required>
                                    </div>
                                    <div class="mb-1">
                                        <label for="new_password" class="form-label">New Password</label>
                                        <input class="form-control" type="password" id="new_password" name="newPassword" placeholder="Enter new password" onkeyup="passwordCheck()" required>
                                    </div>
                                    <div class="mb-1">
                                        <label for="password_confirm" class="form-label">Password Confirm</label>
                                        <input class="form-control" type="password" id="password_confirm" name="passwordConfirm" placeholder="Enter password confirm"  onkeyup="passwordCheck()" required>
                                    </div>
                                    <div id="password_msg" class="mb-3 ms-1"></div>
                                    <div class="mb-0 text-center">
                                        <button type="button" class="btn btn-primary" onclick="passwordChange()">Save</button>
                                    </div>
                                </form>
                            </div> <!-- end card-body-->
                        </div>
                        <!-- end card-->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Not you? return <a href="pages-login.html" class="text-muted ms-1"><b>Sign In</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
</th:block>
</html>
