<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true">
<th:block th:fragment="changePasswordFragment">
        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">
                            <!-- Logo -->
                            <div class="card-header py-4 text-center bg-primary">
                                <a href="/">
                                    <span><img src="/assets/images/noteuLogo.png" alt="logo" height="22"></span>
                                </a>
                            </div>

                            <div class="card-body p-4">
                                <form th:action="@{|/members/password/${member.id}|}" method="post" id="f" name="f">
                                    <div class="mb-3">
                                        <label for="previous_password" class="form-label">Previous Password</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="password" id="previous_password" name="previousPassword" placeholder="Enter your previous password" onfocusout="passwordChange()">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                            <p class="invalid-feedback ms-1 mb-0" id="previous_password_msg"></p>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label for="password1" class="form-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="password" id="password1" name="newPassword" placeholder="Enter your password" onkeyup="passwordVaild()">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                            <p class="invalid-feedback ms-1 mb-0" id="password_msg"></p>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password2" class="form-label">Password Check</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="password" id="password2" name="password2" placeholder="Enter password check" onkeyup="passwordCheck()">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                            <p class="invalid-feedback ms-1 mb-0" id="password_check_msg"></p>
                                        </div>
                                    </div>
                                    <div class="mb-0 text-center">
                                        <button type="submit" class="btn btn-primary" onclick="changePassword()">Save</button>
                                    </div>
                                </form>
                            </div> <!-- end card-body-->
                        </div>
                        <!-- end card-->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">return <a th:href="@{|/members/account/${#authentication.principal.id}|}" class="text-muted ms-1"><b>My Account</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
</th:block>
</html>
