<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true"
      xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

<!--        &lt;!&ndash; Daterangepicker css &ndash;&gt;-->
<!--        <link rel="stylesheet" href="/assets/vendor/daterangepicker/daterangepicker.css">-->

<!--        &lt;!&ndash; Vector Map css &ndash;&gt;-->
<!--        <link rel="stylesheet" href="/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css">-->

        <!-- Theme Config Js -->
        <script src="/assets/js/hyper-config.js"></script>

        <!-- App css -->
        <link href="/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    </th:block>
</html>