<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
        <th:block th:replace="fragments/common/header :: headerFragment"></th:block>
    </head>
    <body>
    <div class="wrapper">
        <th:block th:replace="fragments/common/topbar :: topbarFragment"></th:block>
        <th:block th:replace="fragments/common/sidebar2 :: sidebar2Fragment"></th:block>
        <div class="content-page">
            <th:block th:replace="fragments/content/task/edit_content :: editContentFragment"></th:block>
            <th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
        </div>

        <th:block th:replace="fragments/common/script :: scriptFragment"></th:block>

        <script type="text/javascript" src="/js/task/edit.js"></script>
        <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    </div>
    </body>
</html>