.file-preview {
    margin-top: 5px;
}

.file-preview .file-name {
    margin-right: 10px; /* 여백 조정 */
}

.file-preview .delete-button {
    font-size: 12px; /* 삭제 버튼 크기 조정 */
    padding: 2px 6px; /* 삭제 버튼 여백 조정 */
}