<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true"
        xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="addContentFragment">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/subjects">Noteu</a></li>
                                    <li class="breadcrumb-item"><a href="#">Apps</a></li>
                                    <li class="breadcrumb-item"><a th:href="'/subjects/'+${subjectId}+'/tasks'">Task</a></li>
                                    <li class="breadcrumb-item active">Create Task</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Create Task</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" id="subjectId" name="subjectId" th:value="${subjectId}">

                                <form th:action="@{'/subjects/' + ${subjectId} + '/tasks'}" method="post">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="mb-3">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" id="taskTitle" name="taskTitle" class="form-control" placeholder="Enter Notice Title">
                                            </div>

                                            <div class="mb-3">
                                                <label for="content" class="form-label">Content</label>
                                                <textarea class="form-control" id="taskContent" name="taskContent" rows="5"></textarea>
                                            </div>

                                            <!-- Date View -->
                                            <div class="mb-3 position-relative" id="deadLineDiv">
                                                <label class="form-label">Dead Line</label>
                                                <input id="deadLineInput" name="deadLine" type="text" class="form-control" data-provide="datepicker" data-date-container="#deadLineDiv" data-date-format="d-M-yyyy" data-date-autoclose="true">
                                            </div>                                            

                                            <div class="mb-3">
                                                <input type="button" class="btn btn-primary" id="btn_submit" value="Create">
                                            </div>

                                        </div> <!-- end col-->
                                    </div>
                                    <!-- end row -->
                                </form>

                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- container -->

        </div> <!-- content -->
        <!-- content -->
    </th:block>
</html>
